In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("/Users/anilreddykunta/Desktop/Anil/PYTHON/Big_Data/Big_data_projects/project_weather/artifacts/clean_data.csv")

In [11]:
df.head()

,city_id,hour,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder,year,month,day
0,1,0,30,11,Heavy snow,0.0,90,1,1010,0,0,0,0,2017,1,1
1,1,100,30,11,Heavy snow,0.0,91,3,1012,0,0,0,0,2017,1,1
2,1,200,28,11,Cloudy,0.0,91,4,1013,0,0,0,0,2017,1,1
3,1,300,27,11,Cloudy,0.0,92,6,1015,0,0,0,0,2017,1,1
4,1,400,27,9,Cloudy,0.0,93,6,1016,0,0,0,0,2017,1,1

In [3]:
import numpy

In [5]:
numpy.__version__

'1.24.4'